# Framework e Manipulação de Dados
streamlit>=1.30.0
pandas>=2.0.0
pyarrow<25
openpyxl

# Banco de Dados e Integrações
supabase
python-dotenv
psycopg2-binary

# Requisições e Utilitários
requests
pytz
python-telegram-bot[job-queue]>=20.0

# Relatórios e Visualização
plotly
reportlab

groq